body {
    font-family: BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-size: 1.1em; padding: 0 1em;
}
a:not(:hover) {text-decoration: none;}
ul {padding: 0;}
li {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0.2em;
}
li .icon, li .noicon {min-height: 1.5em; min-width: 2em;}
li .icon {background-size: 1.5em; background-repeat: no-repeat;}

body {background: #fafafa; color: #323232;}
a {color: #0366d6;}
a:visited {color: #640096;}
@media (prefers-color-scheme: dark) {
    body {background: #1b1e20; color: silver;}
    a {color: #8ab4f8;}
    a:visited {color: #c58af9;}
}
{% for klass, data in icons.items() %}
.{{klass}} .icon {background-image: url('{{data}}');}
{% endfor %}
