body {
    font-family: BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-size: 1.1em; padding: 0 1em;
}
a:not(:hover) {text-decoration: none;}
ul {padding: 0;}
li {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0.2em;
}
li .icon, li .noicon {min-height: 1.5em; min-width: 2em;}
li .icon {background-size: 1.5em; background-repeat: no-repeat;}

body {background: rgb(250, 250, 250); color: rgb(50, 50, 50);}
a {color: rgb(13, 70, 175);}
a:visited {color: rgb(100, 0, 150);}
@media (prefers-color-scheme: dark) {
    body {background: rgb(27, 30, 32); color: rgb(220, 220, 220);}
    a {color: rgb(65, 175, 235);}
    a:visited {color: rgb(150, 100, 230);}
}
{% for klass, data in icons.items() %}
.{{klass}} .icon {background-image: url('{{data}}');}
{% endfor %}
